:host {
  font-family: RobotoDraft, sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

.content-wrapper {
  margin: 0 50px;
  overflow: hidden;
  padding: 50px 0;
}

.show-teams-wrapper {
  margin-top: 15px;
}

.welcome {
  margin-bottom: 50px;
}

#path {
  margin-top: 100px;
  text-align: center;
}

.tt-dropdown-menu {
  max-height: 200px;
  overflow: auto;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  margin-top: -10px;
}

.tt-suggestion.tt-cursor {
  background-color: rgba(0,0,0,.1);
}

.tt-suggestion {
  margin: 0;
  padding: 5px;
}


core-toolbar {
  background-color: #455ede;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

paper-button {
  margin-top: 10px;
  width: 10em;
  color: white;
  background-color: #455ede;
}

paper-input {
  font-size: 16px;
  width: 300px;
}

paper-checkbox::shadow #ink {
  color: #455ede;
}

paper-checkbox::shadow #checkbox.checked {
  background-color: #455ede;
  border-color: #455ede;
}
